.statistics{
    text-align: center;
    margin: 0;
    padding: 30px 0 0 0;
}
.title{
    font-size: 24px;
    line-height: 1;
    display: block;
    color: #555;
    margin: 0 0 10px 0;
}
.statList{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.item{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    transition: all 250ms linear;
    cursor: pointer;
}
.item:hover{
    opacity: 0.8;
}
.item:first-child{
    border-radius: 10px 0 0 10px;
}
.item:last-child{
    border-radius: 0 10px 10px 0;
}
.label{
    font-size: 18px;
    color: #e7e7e7;
}
.percentage{
    font-size: 14px;
    color: #e7e7e7;
}